html, body {
    height: 100%;
    margin: 0px;
    padding: 0px
}

header {
    height: 10%;
    margin: 0px;
    padding: 0px;
    background: red;
}

p {
    margin: 0px;
    padding: 0px;
}

#table-main {
    border-collapse: collapse;
    width: 100%;
    height: 90%;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

#half11 {
    height: 50%;
    background: green;
}

#half12 {
    height: 50%;
    background: black;
}

#half31 {
    height: 50%;
    background: blue;
}

#half32 {
    height: 50%;
    background: yellow;
}

td {
    border: 1px solid black;
}

#myleft {
    width: 25%;
}

#mycontent {
    width: 50%;
}

#myright {
    width: 25%;
}

.text-center {
    text-align: center;
}
